// $primary: #1e90ff;
// $darkPrimary: #0000ff;
// $primary: #999900;
// $darkPrimary: #525100;
$primary: #005b96;
$darkPrimary: #011f4b;
$hover: #ccc;
$secondary: #ffaa81;
$gray: #ccc;
$white: #ffffff;;
$warning: #e0a800;
$danger: #f7786b;
$textBlue: #007bff;
$success: #155724;
$successLight: #d4edda;
$info: #0c5460;
$infoLight: #d1ecf1;
$warning: #856404;
$warningLight: #fff3cd;
$danger: #721c24;
$dangerLight: #f8d7da;