.active-menu {
  background-color: #d1ecf1;
  color: #0c5460;
}

.menu-holder label {
  margin-bottom: 0;
}

.menu-holder {
  padding: 5px 0 ;
}

.header-navbar,
.main-sidebar,
.system-header {
  z-index: 99 !important;
}